<launch>

    <param name="num_ev_per_map" value="2000000" />
    <param name="on_demand" value="false" />
    <param name="max_duration" value="2" />
    <param name="min_duration" value="0.05" />
    <param name="init_wait_time" value="0" />
    <param name="auto_copilot" value="true"/>    
    <param name="calib_path" value="$(find mapper_emvs_stereo)/calib/dsec/zurich_city_04_a_calibration/cam_to_cam.yaml"/>
    <param name="mocap_calib_path" value="$(find mapper_emvs_stereo)/calib/dsec/zurich_city_04_a_calibration/cam_to_lidar.yaml"/>
    <!-- Mapping module -->
    <node pkg="mapper_emvs_stereo" type="run_emvs" name="run_emvs" output="screen" args="--flagfile $(find mapper_emvs_stereo)/cfg/tracker/alg1/dsec.conf">
	<remap from="pointcloud_local" to="/dvs_mapping/pointcloud" /> 
	<remap from="pointcloud_global" to="/dvs_mapping/pointcloud_global" />
	<remap from="Inverse_Depth_Map" to="/dvs_mapping/depthmap" />  
    </node>
</launch>
