<launch>
    <param name="num_ev_per_map" value="500000" />
    <param name="on_demand" value="false" />    
    <param name="max_duration" value="2" />
    <param name="min_duration" value="0.1" />
    <param name="init_wait_time" value="1" />
    <param name="auto_copilot" value="true"/>
    <!-- Mapping module -->
    <node pkg="mapper_emvs_stereo" type="run_emvs" name="run_emvs" output="screen" args="--flagfile $(find mapper_emvs_stereo)/cfg/tracker/alg1/rpg_monitor_edited.conf">
	<remap from="pointcloud_local" to="/dvs_mapping/pointcloud" /> 
	<remap from="pointcloud_global" to="/dvs_mapping/pointcloud_global" />
	<remap from="Inverse_Depth_Map" to="/dvs_mapping/depthmap" />  
    </node>
</launch>
