<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/test.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/davis_0889.yaml"/>
  <remap from="/cam0/image_raw" to="/davis_left/image_raw" />
  <remap from="/imu0" to="/davis_left/imu" />
  </node>
</launch>
